
  <div
    class="w-full max-w-2xl bg-white p-2 rounded-xl shadow-lg border border-gray-200 flex items-center transition-all focus-within:ring-4 focus-within:ring-red-100 focus-within:border-red-400"
    [class.opacity-50]="!isRoundActive()"
  >
    <div class="pl-4 text-gray-400 text-2xl">👁️</div>

    @if(isRoundActive()){
      <input
        type="text"
        inputmode="numeric"
        placeholder="How many views?"
        [value]="displayGuess()"
        (input)="onInput($event)"
        (keydown)="onKeyDown($event)"
        [disabled]="!isRoundActive()"
        class="flex-1 min-w-0 bg-transparent px-2 sm:px-4 py-3 outline-none text-lg sm:text-2xl font-black text-gray-700 text-center placeholder:text-gray-300 disabled:cursor-not-allowed"
      />
    } @else {
      <div class="flex-1 text-lg sm:text-2xl font-black text-gray-700 text-center">
        Next round in {{timeLeft()}} seconds
      </div>
    }

    <button
      [disabled]="roundStatus()===RoundStatus.Preparing || roundStatus()===RoundStatus.Finished || hasGuessed()"
      (click)="submitGuess()"
      class="px-3 py-3 sm:px-4 sm:py-4 w-auto shrink-0 bg-red-600 hover:bg-red-700 text-white font-bold text-base sm:text-xl rounded-lg shadow-md transition transform active:scale-95 disabled:bg-gray-400 disabled:active:scale-100 disabled:cursor-not-allowed"
    >
      {{ (hasGuessed()  || roundStatus()===RoundStatus.Finished) ? 'WAITING' : 'GUESS' }}
    </button>
  </div>

