<div
  class="w-full max-w-2xl h-6 flex items-center transition-opacity duration-300"
  [class.opacity-0]="!isRoundActive()"
  [class.opacity-100]="isRoundActive()"
>
  @if(roundStatus() == RoundStatus.Guessing){
  <div class="w-full h-3 bg-gray-200 rounded-full overflow-hidden shadow-inner relative">
    <div
      class="h-full ease-linear"
      [style.width.%]="(timeLeft() / 30) * 100"
      [class.transition-all]="timeLeft() < 30"
      [class.duration-1000]="timeLeft() < 30"
      [class.bg-green-500]="timeLeft() > 10"
      [class.bg-red-600]="timeLeft() <= 10"
      [class.animate-pulse]="timeLeft() <= 5"
    ></div>

    <span
      class="absolute inset-0 flex items-center justify-center text-[10px] font-black text-gray-800 mix-blend-overlay"
    >
      00:{{ timeLeft() < 10 ? '0' + timeLeft() : timeLeft() }}
    </span>
  </div>
  }
</div>
