<div class="flex flex-col p-4 pt-4 rounded-lg">
  <div class="flex justify-start mb-10">
    <h2 class="text-xl font-bold text-gray-800 border-b border-gray-200 pb-1 w-full">Player rankings</h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-1 gap-4">
    @if (matchData(); as match) {
      @for (player of match.playerLeaderboard; track player.userId) {
        <app-player-score
          [hasUserGuessedThisRound] = "playersWhoGuessed().includes(player.userId)"
          [playerNickname]="player.nickname"
          [playerTotalScore]="player.totalScore"
          [playerRoundScore]="getPlayerRoundScore(player.userId)"
          [showPlayerRoundScore]="match.currentRound.roundStatus === RoundStatus.Finished"
        ></app-player-score>
      }
    }
  </div>
</div>
