<div class="relative flex flex-col items-center justify-end min-h-[80px]">

  @if(!isUserLoggedIn()){
    <app-error-message ></app-error-message>

    <div class="flex gap-2 rounded">
      <input
        type="text"
        [(ngModel)]="guestNicknameInput"
        placeholder="Enter your nickname..."
        class="px-4 shadow-sm py-3 border border-gray-300 rounded focus:border-red-600 focus:ring-1 focus:ring-red-600 outline-none transition min-w-[250px] text-gray-800"
      />

      <button
        (click)="playAsGuest()"
        class="px-6 py-3 bg-gray-100 hover:bg-gray-200 text-red-700 font-medium rounded-lg transition border border-gray-300"
      >
        Play
      </button>
    </div>
  } @else {
    <h2 class="text-2xl font-bold text-gray-800">Welcome {{ userNickname() }}!</h2>
  }

</div>
