@if (matchData()?.status === MatchStatus.Playing) {
  <header class="w-full max-w-screen-2xl mx-auto flex justify-between items-center px-4">
    <h1 class="text-3xl md:text-4xl font-black tracking-tight text-gray-800 uppercase">
      Youtube <span class="text-red-600">Guesser</span>
    </h1>

    <div
      class="px-6 py-2 bg-red-100 text-red-700 font-black rounded-full text-xl border-2 border-red-200 shadow-sm"
    >
      ROUND {{ matchData()?.roundNumber }}
      <span class="opacity-50 font-bold">/ {{ matchData()?.maxRounds }}</span>
    </div>
  </header>

  <main
    class="flex flex-col xl:flex-row gap-6 w-full max-w-screen-2xl mx-auto h-full items-stretch px-4"
  >
    <aside
      class="w-full xl:w-72 bg-white shadow-sm border border-gray-200 flex flex-col p-4 pt-4 rounded-lg"
    >
      <app-player-leaderboard
        class="grow w-full"
        [roomData]="roomData()"
        [matchData]="matchData()"
        [roundData]="roundData()"
        [playersWhoGuessed]="playersWhoGuessed()"
        [currentUserId]="currentUserId"
        [isUserOwner]="isUserOwner()"
        (kickPlayer)="handleKickPlayer($event)"
      >
      </app-player-leaderboard>
    </aside>

    <section class="flex-1 flex flex-col gap-6 items-center">
      <app-video
        class="w-full max-w-4xl flex flex-col bg-black rounded-2xl overflow-hidden shadow-2xl relative"
        [roundStatus]="roundStatus()"
        [videoUrl]="videoUrl()"
        [videoStartTime]="videoStartTime()"
        (startRoundTimer)="startRound()"
      ></app-video>

      <div class="w-full max-w-2xl flex justify-center flex flex-col gap-2">
        <app-round-timer
          [endsAt]="roundData()?.endsAt"
          [roundStatus]="roundStatus()"
          [videoStartsAtSecond]="roundData()?.videoStartsAtSecond"
          (timeIsUp)="handleTimeIsUp()"
          (videoStartTimeUpdated)="videoStartTime.set($event)">
        </app-round-timer>

        <app-guess-input
          [isRoundActive]="isRoundActive()"
          [hasGuessed]="hasUserGuessedThisRound()"
          [isOwner]="isUserOwner()"
          [roundFinished]="roundStatus() === RoundStatus.Finished"
          (guess)="submitGuessToBackend($event)"
          (nextRound)="changeToNextRound()"
        >
        </app-guess-input>
      </div>
    </section>

    <aside>
      <div class="flex flex-col gap-6 w-full xl:w-80 h-full">
        <app-video-details
          class="w-full xl:w-80 font-bold"
          [roundData]="roundData()"
          [roundStatus]="roundStatus()"
        ></app-video-details>

        <app-chat-box
          class="w-full h-full xl:w-80 bg-white rounded-2xl shadow-sm border border-gray-200 flex flex-col p-4 pt-4"
          [logs]="activityLogs()"
        >
        </app-chat-box>
      </div>
    </aside>
  </main>
} @else if (matchData()?.status === MatchStatus.Results) {
  <app-results
    [matchData]="matchData()"
    [isUserOwner]="isUserOwner()"
    [currentUserId]="currentUserId"
    (backToLobby)="endMatch()"
  >
  </app-results>
}
